/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        col-gpios = <&nice_nano P1_07 GPIO_ACTIVE_HIGH>
                   , <&nice_nano P1_06 GPIO_ACTIVE_HIGH>
                   , <&nice_nano P1_05 GPIO_ACTIVE_HIGH>;
        row-gpios = <&nice_nano P0_03 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&nice_nano P0_02 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&nice_nano P0_01 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    #include <dt-bindings/zmk/matrix_transform.h>

    default_transform: keymap_transform0 {

cat > config/3x3/3x3.keymap << 'EOF'
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/
{
   #include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/
{
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp N3      &kp D      &kp E
                &kp N4      &kp F      &kp R
                &out BT_SEL     &kp G      &kp T   // ← „5” = Reset BLE
            >;
        };
    };
};
CONFIG_SETTINGS_RESET=y
